# Any private crt and keys #
############################
*.crt
*.key
*.pem
*~
\#*

# Editor specific #
###################
.idea
.vscode
.classpath
.project
.settings/**
## Emac
*~
\#*\#
.\#*
## Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# OS Specific #
###############
Thumbs.db
.DS_Store
._*
scratch/

# Ansible specific #
####################
.cache
*.retry

# Python specific #
###################
__pycache__
