---
- name: (Debian/Ubuntu) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX Plus license
  ansible.builtin.blockinfile:
    path: /etc/apt/apt.conf.d/90nginx
    create: true
    block: |
      Acquire::https::{{ (nginx_plus_repository | default(nginx_plus_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::Verify-Peer "true";
      Acquire::https::{{ (nginx_plus_repository | default(nginx_plus_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::Verify-Host "true";
      Acquire::https::{{ (nginx_plus_repository | default(nginx_plus_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::SslCert     "/etc/ssl/nginx/nginx-repo.crt";
      Acquire::https::{{ (nginx_plus_repository | default(nginx_plus_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::SslKey      "/etc/ssl/nginx/nginx-repo.key";
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_dos_setup == 'uninstall') | ternary('absent', 'present')) }}"
    mode: 0444

- name: (Debian/Ubuntu) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX App Protect DoS license
  ansible.builtin.blockinfile:
    path: /etc/apt/apt.conf.d/90app-protect-dos
    create: true
    block: |
      Acquire::https::{{ (nginx_app_protect_dos_repository | default(nginx_app_protect_dos_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::Verify-Peer "true";
      Acquire::https::{{ (nginx_app_protect_dos_repository | default(nginx_app_protect_dos_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::Verify-Host "true";
      Acquire::https::{{ (nginx_app_protect_dos_repository | default(nginx_app_protect_dos_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::SslCert     "/etc/ssl/nginx/nginx-repo.crt";
      Acquire::https::{{ (nginx_app_protect_dos_repository | default(nginx_app_protect_dos_default_repository_debian)) | regex_search('(?<=https://)[^/]*') }}::SslKey      "/etc/ssl/nginx/nginx-repo.key";
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_dos_setup == 'uninstall') | ternary('absent', 'present')) }}"
    mode: 0444

- name: (Debian/Ubuntu) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX Plus repository
  ansible.builtin.apt_repository:
    filename: nginx-plus
    repo: "{{ nginx_plus_repository | default(nginx_plus_default_repository_debian) }}"
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_dos_setup == 'uninstall') | ternary('absent', 'present')) }}"
    update_cache: false
    mode: 0644
  when: nginx_app_protect_dos_manage_repo | bool

- name: (Debian/Ubuntu) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX App Protect DoS repository
  ansible.builtin.apt_repository:
    filename: nginx-app-protect-dos
    repo: "{{ nginx_app_protect_dos_repository | default(nginx_app_protect_dos_default_repository_debian) }}"
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_dos_setup == 'uninstall') | ternary('absent', 'present')) }}"
    update_cache: false
    mode: 0644
  when: nginx_app_protect_dos_manage_repo | bool

- name: (Debian/Ubuntu) {{ nginx_app_protect_dos_setup | capitalize }} NGINX App Protect DoS
  ansible.builtin.apt:
    name: "app-protect-dos{{ (nginx_app_protect_dos_state == 'absent') | ternary(',nginx-plus-module-appprotectdos', '') }}"
    state: "{{ nginx_app_protect_dos_state }}"
    update_cache: true
  ignore_errors: "{{ ansible_check_mode }}"
  when: nginx_app_protect_license_status is not defined
  notify: (Handler - NGINX App Protect) Run NGINX
