---
- name: (CentOS/RHEL) Install dependencies
  ansible.builtin.yum:
    name:
      - libselinux-utils
      - policycoreutils
      - selinux-policy-targeted
  when: ansible_facts['os_family'] == "RedHat"

- name: Set SELinux mode to permissive
  ansible.posix.selinux:
    state: permissive
    policy: targeted

- name: Allow SELinux HTTP network connections
  ansible.posix.seboolean:
    name: "{{ item }}"
    state: true
    persistent: true
  loop:
    - httpd_can_network_connect
    - httpd_can_network_relay

- name: Allow SELinux TCP HTTP connections on specific ports
  community.general.seport:
    ports: "{{ nginx_app_protect_selinux_tcp_ports }}"
    proto: tcp
    setype: http_port_t
    state: present
  when: nginx_app_protect_selinux_tcp_ports is defined

- name: Allow SELinux TCP Syslog connections on specific ports
  community.general.seport:
    ports: "{{ nginx_app_protect_selinux_syslog_tcp_ports }}"
    proto: tcp
    setype: syslogd_port_t
    state: present
  when: nginx_app_protect_selinux_syslog_tcp_ports is defined

- name: Allow SELinux UDP HTTP connections on specific ports
  community.general.seport:
    ports: "{{ nginx_app_protect_selinux_udp_ports }}"
    proto: udp
    setype: http_port_t
    state: present
  when: nginx_app_protect_selinux_udp_ports is defined

- name: Allow SELinux TCP Syslog connections on specific ports
  community.general.seport:
    ports: "{{ nginx_app_protect_selinux_syslog_tcp_ports }}"
    proto: udp
    setype: syslogd_port_t
    state: present
  when: nginx_app_protect_selinux_syslog_udp_ports is defined

- name: Create SELinux NGINX App Protect module
  ansible.builtin.template:
    src: "{{ role_path }}/templates/selinux/nginx-app-protect-module.te.j2"
    dest: "{{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.te"
    mode: 0644
  register: nginx_app_protect_selinux_module

- name: Check SELinux NGINX App Protect module
  ansible.builtin.command: "checkmodule -M -m -o {{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.mod {{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.te"
  args:
    creates: "{{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.mod"
  changed_when: false

- name: Compile SELinux NGINX App Protect module
  ansible.builtin.command: "semodule_package -o {{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.pp -m {{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.mod"
  args:
    creates: "{{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.pp"
  changed_when: false

- name: Import SELinux NGINX App Protect module
  ansible.builtin.command: "semodule -i {{ nginx_app_protect_selinux_tempdir }}/nginx-app-protect-module.pp"  # noqa no-handler
  changed_when: false
  when: nginx_app_protect_selinux_module.changed | bool

- name: Set SELinux mode to enforcing
  ansible.posix.selinux:
    state: enforcing
    policy: targeted
  when: nginx_app_protect_selinux_enforcing | bool
