{
    "filter": {
        "request_type": "{{ nginx_app_protect_log_policy_filter_request_type }}"
    },
    "content": {
        "format": "default",
        "max_request_size": "any",
        "max_message_size": "5k"
    }
}
