
module my-appprotect 1.0;

require {
	type unlabeled_t;
	type audisp_t;
	type security_t;
	type faillog_t;
	type systemd_logind_t;
	type httpd_t;
	type usr_t;
	type unreserved_port_t;
	type initrc_t;
	type var_log_t;
	type httpd_log_t;
	type lastlog_t;
	type http_cache_port_t;
	type memcache_port_t;
	class passwd passwd;
	class unix_stream_socket connectto;
	class dbus send_msg;
	class capability audit_write;
	class tcp_socket name_connect;
	class netlink_selinux_socket { bind create };
	class file { create execute_no_trans open read rename setattr unlink write };
	class netlink_audit_socket nlmsg_relay;
	class sock_file write;
	class security compute_av;
	class dir create;
}

#============= audisp_t ==============

#!!!! WARNING: 'unlabeled_t' is a base type.
#!!!! The file '/etc/ld.so.cache' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /etc/ld.so.cache
allow audisp_t unlabeled_t:file { execute execute_no_trans open };

#============= httpd_t ==============
allow httpd_t faillog_t:file { open read };

#!!!! This avc is allowed in the current policy
allow httpd_t http_cache_port_t:tcp_socket name_connect;
allow httpd_t httpd_config_t:file write;
allow httpd_t httpd_initrc_exec_t:sock_file write;
allow httpd_t httpd_log_t:file write;
allow httpd_t httpd_sys_rw_content_t:fifo_file { getattr ioctl open read write };
allow httpd_t httpd_var_run_t:fifo_file { getattr ioctl open read write };
allow httpd_t httpd_var_run_t:file { execute execute_no_trans };

#!!!! The file '/opt/app_protect/pipe/app_protect_plugin_socket' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /opt/app_protect/pipe/app_protect_plugin_socket
allow httpd_t initrc_t:unix_stream_socket connectto;
allow httpd_t lastlog_t:file { open read write };

#!!!! This avc is allowed in the current policy
allow httpd_t memcache_port_t:tcp_socket name_connect;
allow httpd_t security_t:security compute_av;

#!!!! This avc is allowed in the current policy
allow httpd_t self:capability audit_write;

#!!!! This avc is allowed in the current policy
allow httpd_t self:netlink_audit_socket nlmsg_relay;
allow httpd_t self:netlink_selinux_socket { bind create };
allow httpd_t self:passwd passwd;
allow httpd_t systemd_logind_t:dbus send_msg;

#!!!! This avc is allowed in the current policy
allow httpd_t unreserved_port_t:tcp_socket { name_bind name_connect };
allow httpd_t usr_t:dir { create rmdir };

#!!!! WARNING: 'usr_t' is a base type.
allow httpd_t usr_t:file { create rename setattr unlink write };

#!!!! WARNING: 'usr_t' is a base type.
allow httpd_t usr_t:sock_file write;
allow httpd_t var_log_t:file { open read write };

#============= systemd_logind_t ==============
allow systemd_logind_t httpd_t:dbus send_msg;