---
- name: (Amazon Linux/CentOS/RHEL) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX Plus repository
  ansible.builtin.yum_repository:
    name: nginx-plus
    description: NGINX Plus repository
    baseurl: "{{ nginx_plus_repository |
              default(lookup('vars', 'nginx_plus_default_repository_' + ((ansible_distribution == 'Amazon') | ternary('amazon', 'redhat')))) }}"
    sslclientcert: /etc/ssl/nginx/nginx-repo.crt
    sslclientkey: /etc/ssl/nginx/nginx-repo.key
    enabled: true
    gpgcheck: true
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_waf_setup == 'uninstall') | ternary('absent', 'present')) }}"
    mode: 0644
  when: nginx_app_protect_waf_manage_repo | bool

- name: (Amazon Linux/CentOS/RHEL) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX App Protect WAF repository
  ansible.builtin.yum_repository:
    name: nginx-app-protect
    description: NGINX App Protect WAF repository
    baseurl: "{{ nginx_app_protect_waf_repository |
              default(lookup('vars', 'nginx_app_protect_waf_default_repository_' + ((ansible_distribution == 'Amazon') | ternary('amazon', 'redhat')))) }}"
    sslclientcert: /etc/ssl/nginx/nginx-repo.crt
    sslclientkey: /etc/ssl/nginx/nginx-repo.key
    enabled: true
    gpgcheck: true
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_waf_setup == 'uninstall') | ternary('absent', 'present')) }}"
    mode: 0644
  when: nginx_app_protect_waf_manage_repo | bool

- name: (Amazon Linux/CentOS/RHEL) {{ nginx_app_protect_license_status is defined | ternary('Remove', 'Configure') }} NGINX App Protect WAF security updates repository
  ansible.builtin.yum_repository:
    name: nginx-app-protect-security-updates
    description: NGINX App Protect WAF security updates repository
    baseurl: "{{ nginx_app_protect_waf_security_updates_repository |
              default(lookup('vars', 'nginx_app_protect_waf_security_updates_default_repository_' + ((ansible_distribution == 'Amazon') | ternary('amazon', 'redhat')))) }}"
    sslclientcert: /etc/ssl/nginx/nginx-repo.crt
    sslclientkey: /etc/ssl/nginx/nginx-repo.key
    enabled: true
    gpgcheck: true
    state: "{{ nginx_app_protect_license_status | default((nginx_app_protect_waf_setup == 'uninstall') | ternary('absent', 'present')) }}"
    mode: 0644
  when:
    - (nginx_app_protect_waf_install_signatures | bool) or (nginx_app_protect_waf_install_threat_campaigns | bool)
    - nginx_app_protect_waf_manage_repo | bool

- name: (Amazon Linux/CentOS/RHEL) Force Yum cache refresh
  ansible.builtin.command: yum clean metadata
  changed_when: false

- name: (Amazon Linux/CentOS/RHEL) {{ nginx_app_protect_waf_setup | capitalize }} NGINX App Protect WAF
  ansible.builtin.yum:
    name: app-protect{{ (nginx_app_protect_waf_state == 'absent') | ternary(',app-protect-compiler,app-protect-engine,app-protect-plugin,nginx-plus-module-appprotect', '') }}
    state: "{{ nginx_app_protect_waf_state }}"
    update_cache: true
  ignore_errors: "{{ ansible_check_mode }}"
  when: nginx_app_protect_license_status is not defined
  notify: (Handler - NGINX App Protect) Run NGINX

- name: (Amazon Linux/CentOS/RHEL) {{ nginx_app_protect_waf_setup | capitalize }} NGINX App Protect WAF signatures {{ nginx_app_protect_waf_signatures_version is defined | ternary(nginx_app_protect_signatures_version, '') }}
  ansible.builtin.yum:
    name: app-protect-attack-signatures{{ nginx_app_protect_waf_signatures_version | default('') }}
    state: "{{ nginx_app_protect_waf_state }}"
    update_cache: true
    allow_downgrade: "{{ omit if ansible_version.full is version('2.12', '<') else true }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when:
    - nginx_app_protect_waf_install_signatures | bool
    - nginx_app_protect_waf_license_status is not defined
  notify: (Handler - NGINX App Protect) Run NGINX

- name: (Amazon Linux/CentOS/RHEL) {{ nginx_app_protect_waf_setup | capitalize }} NGINX App Protect WAF threat campaigns {{ nginx_app_protect_waf_threat_campaigns_version is defined | ternary(nginx_app_protect_threat_campaigns_version, '') }}
  ansible.builtin.yum:
    name: app-protect-threat-campaigns{{ nginx_app_protect_waf_threat_campaigns_version | default('') }}
    state: "{{ nginx_app_protect_waf_state }}"
    update_cache: true
    allow_downgrade: "{{ omit if ansible_version.full is version('2.12', '<') else true }}"
  ignore_errors: "{{ ansible_check_mode }}"
  when:
    - nginx_app_protect_waf_install_threat_campaigns | bool
    - nginx_app_protect_waf_license_status is not defined
  notify: (Handler - NGINX App Protect) Run NGINX
