---
- name: Set NGINX App Protect license state
  ansible.builtin.set_fact:
    nginx_app_protect_license_status: absent

- name: Delete NGINX App Protect WAF repository data
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/waf/install-{{ ansible_os_family | lower }}.yml"
  when: nginx_app_protect_waf_enable | bool

- name: Delete NGINX App Protect DoS repository data
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/dos/install-{{ ansible_os_family | lower }}.yml"
  when: nginx_app_protect_dos_enable | bool

- name: Delete NGINX App Protect license
  ansible.builtin.file:
    path: /etc/ssl/nginx
    state: absent
